h1 {
  margin: 20px 20px 40px;
  position: relative;
  &::before,
  &::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  &::before {
    background-color: white;
    width: 120px;
  }
  &::after {
    background-color: black;
    width: 40px;
  }
}
