<div class="page">
  <app-title title="DashBoard"></app-title>

  <div class="wrapper d-grid gap-20">
    <app-welcome></app-welcome>
    <app-quick-drafts></app-quick-drafts>
    <app-yearly-targets></app-yearly-targets>
    <app-tickets-statistics></app-tickets-statistics>
    <app-last-news></app-last-news>
    <app-latest-tasks></app-latest-tasks>
    <app-top-search-items></app-top-search-items>
    <app-latest-uploads></app-latest-uploads>
    <app-last-project-progress></app-last-project-progress>
    <app-reminders></app-reminders>
    <app-last-post></app-last-post>
    <app-social-media-stats></app-social-media-stats>
  </div>
  <app-taple></app-taple>
</div>
