<div class="welcome bg-white rad-10 txt-c-mobile block-mobile">
  <div class="intro p-20 d-flex space-between bg-eee">
    <div class="">
      <h2 class="m-0">Welcome</h2>
      <p class="c-grey mt-5">{{ person.name }}</p>
    </div>
    <img src="assets/DATA&IMGS/page1/welcome.png" alt="" />
  </div>
  <img class="pof-avt" src="assets/DATA&IMGS/page1/avatar.png" alt="" />
  <div class="body txt-c d-flex p-20 mt-20 mb-20 block-mobile">
    <div>
      {{ person.name }}
      <span class="d-block c-grey fs-14 mt-10">{{ person.job }}</span>
    </div>
    <div>
      {{ person.Projects }}
      <span class="d-block c-grey fs-14 mt-10">Projects</span>
    </div>
    <div>
      {{ person.Earned }} <span class="d-block c-grey fs-14 mt-10">Earned</span>
    </div>
  </div>
  <a
    href="profile.html"
    class="visit d-block fs-14 rad-6 bg-blue c-white w-fit btn-shape"
  >
    Profile</a
  >
</div>
