<div class="QuickDraft bg-white rad-10 txt-c-mobile block-mobile p-20">
  <div class="">
    <h2 class="mt-0 mb-10">QuickDraft</h2>
    <p class="c-grey mt-0 mb-20 ft-15">Write A Draft For Your Ideas</p>
    <form action="" class="form">
      <input
        type="text"
        class="d-block mb-20 w-full p-10 b-none bg-eee rad-6"
      />
      <textarea
        class="d-block mb-20 w-full p-10 b-none bg-eee rad-6 none-resize"
        placeholder="Your Thought"
      ></textarea>
    </form>
    <a
      href="profile.html"
      class="save d-block fs-14 bg-blue c-white w-fit btn-shape"
    >
      Save</a
    >
  </div>
</div>
