<div class="Latest-Post p-20 bg-white rad-10 txt-c-mobile ovr-hidd p-relative">
  <h2 class="mt-0 mb-20">Latest Post</h2>
  <div class="info align-center">
    <img class="img-64" src="assets/DATA&IMGS/page1/avatar.png" alt="" />
    <div class="info-data">
      <h3>Omar Mansor</h3>
      <p class="c-grey">About 3 Hours Ago</p>
    </div>
  </div>
  <p class="post txt-c-mobile pt-20 pb-20 mt-20 mb-20">
    You Can Fool All Of The People Some Of The Time, And Some Of The People All
    Of The Time, But You Can't Fool All Of The People All Of The Time.
  </p>
  <div class="notifi between-flex">
    <div class="like" (click)="react()">
      <i class="fa-regular fa-heart" [ngClass]="{ love: react_bol }"></i>
      1.8K
    </div>
    <div class="comments">
      <i class="fa-regular fa-comments"></i>
      500
    </div>
  </div>
</div>
